

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body>div{
	width: 800px;
	margin: 0 auto;
}

body>div>p{
	text-align: center;
}

body>div>nav{
	text-align: center;
}
